@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Josefin+Sans:wght@500&display=swap"); /*
FONTS :
font-family: 'DM Sans', sans-serif;
font-family: 'Josefin Sans', sans-serif;
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
:root {
  --mainBgc: #1e293b;
  --secBgc: #171717;
  --mainHover: #0f172a;
  --secHover: #737373;
}
button:hover,
input:hover {
  cursor: pointer;
}
body {
  /*To fix white part the the bottom of the page
  when scrolling*/
  background-color: var(--secBgc);
}
::-webkit-scrollbar {
  /*hide the scroll bar*/
  display: none;
}
#root {
  min-height: 100vh;
  position: relative;
}
.signupPage {
  display: grid;
  grid-template: 1fr/ 1fr 3fr;
  /*So the div would take the whole root*/
  position: absolute;
  height: 100%;
  width: 100%;
}
.sideBar {
  background-color: var(--mainBgc);
  border-right: 2px double var(--mainHover);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 2rem;
  color: white;
  font-family: "DM Sans", sans-serif;
}
.sideBar > img {
  width: clamp(10rem, 60%, 15rem);
  height: auto;
}
.formHolder {
  background-color: var(--secBgc);
  background-image: url("./Components/images/bgc.png");
  background-position: 25%;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.formHolder button {
  color: inherit;
  font-family: inherit;
  background-color: var(--mainBgc);
  transition: 0.4s all;
  font-size: large;
}
.formHolder button:hover {
  background-color: var(--mainHover);
  scale: 1.05;
  transition: 0.4s all;
}

.formHolder form {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  width: clamp(20rem, 60%, 32rem);
  height: clamp(30rem, 80%, 45rem);
  background-color: var(--secHover);
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 8px 12px var(--mainHover);
  color: white;
  font-family: "DM Sans", sans-serif;
}
.formHolder .buttonsHolder {
  display: flex;
  width: 100%;
  gap: 0.5rem;
}
.formHolder .buttonsHolder > button {
  /*Signup & login switch buttons*/
  border: none;
  width: 50%;
  height: 2.75rem;
  border-radius: 0.5rem;
}
.formHolder label {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.formHolder label > input {
  height: 2.5rem;
  border: 2px solid var(--mainHover);
  border-radius: 0.3rem;
  padding: 0.3rem;
  outline: none;
}
.formHolder label > input:focus,
.formHolder label > input:hover {
  background-color: rgb(190, 190, 190);
}
.formHolder span {
  color: rgb(230, 133, 133);
  font-family: "Josefin Sans", sans-serif;
}
#formBtn {
  border: none;
  border-radius: 0.5rem;
  padding: 1rem;
  width: 60%;
  align-self: center;
  margin-top: 0.25rem;
}
#googleLogin {
  width: fit-content;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: none;
  align-self: center;
  width: 60px;
  margin-top: 0.25rem;
}
#googleLogin > img {
  width: 24px;
  height: auto;
}

/*Main*/
.main {
  display: grid;
  grid-template: 5rem 1fr /1fr;
  /*So the div would take the whole root*/
  position: absolute;
  height: 100%;
  width: 100%;
}

.nav {
  color: white;
  font-family: "DM Sans", sans-serif;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  background-color: var(--mainBgc);
  border-bottom: 2px solid white;
}
.nav .logo {
  height: 4rem;
  width: auto;
  transition: 0.4s all ease-in;
}
.searchHolder {
  width: clamp(15rem, 40%, 30rem);
  height: 2.5rem;
  transition: 0.4s all ease-in;
}
#search {
  width: 100%;
  height: 100%;
  border: 2px double var(--mainHover);
  border-radius: 1rem;
  outline: none;
  text-align: center;
  transition: 0.4s all ease-in;
  font-size: large;
  font-family: inherit;
  box-shadow: 2px 4px var(--mainHover);
}
#search:focus {
  scale: 1.05;
  background-color: var(--secHover);
  transition: 0.4s all ease-in;
  color: white;
}
#search:focus::placeholder {
  color: white;
  transition: 0.4s all ease-in;
}
.profileNav {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  transition: 0.4s all ease-in;
  position: relative;
  z-index: 1;
}
.profileNav img {
  width: 3rem;
  height: auto;
  border-radius: 2rem;
}
.nav > *:hover {
  scale: 1.05;
  transition: 0.4s all ease-in;
  cursor: pointer;
}
.dropDown {
  position: absolute;
  display: none;
  flex-direction: column;
  align-items: center;
  background-color: var(--secHover);
  height: 12rem;
  width: 100%;
  top: calc(100% + 0.05rem);
  border: 2px solid var(--mainHover);
  border-radius: 0.75rem;
}
.profileNav:hover .dropDown {
  display: flex;
}

.dropDown > * {
  text-align: center;
  padding: 0.2rem;
  width: 100%;
  border-bottom: 2px dashed white;
}
.dropDown > *:first-child {
  border-top-left-radius: 0.65rem;
  border-top-right-radius: 0.65rem;
}
.dropDown > *:hover {
  background-color: var(--mainHover);
}
.feedHolder {
  background-color: var(--secBgc);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
}
.feedHolder .feed {
  width: clamp(27rem, 33%, 33rem);
  height: calc(100% - 1rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-family: "Josefin Sans", sans-serif;
  overflow-y: auto;
  padding: 1rem;
}
/*
Added feed in-front of each one of them 
so i could style the post main page probably
*/
.feed .post {
  width: 100%;
  min-height: 35rem;
  color: white;
  display: flex;
  flex-direction: column;
  background-color: black;
  border-radius: 1rem;
  box-shadow: 0px 0px 8px white;
}

.feed .postHeader {
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
}
.feed .postHeader > img {
  /*The author pfp*/
  height: 2.5rem;
  width: 2.5rem;
  object-fit: cover;
  border: 2px solid white;

  border-radius: 4rem;
}
.feed .postMain {
  border-top: 1px solid white;
  margin-top: 0.25rem;
  width: 100%;
  height: 25rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  border-bottom: 1px solid white;
}
.feed .postMain > img {
  object-fit: cover;
  height: 15rem;
  width: auto;
  object-position: 50%;
}
.feed .caption {
  display: flex;
  flex-direction: column;
  font-size: large;
  padding: 0.5rem;
  height: 100%;
}
.feed .postInfo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  border-bottom: 1px solid white;
}
.feed .postInfo > span {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  font-size: x-large;
}
.feed .icon {
  width: 30px;
  height: auto;
  transition: all 0.2s;
}
.icon:hover {
  scale: 1.1;
  cursor: pointer;
  transition: all 0.2s;
}
.feed .postFooter {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: 0.5rem;
}
.loading {
  align-self: center;
  width: 40px;
  height: auto;
}
.caught {
  color: white;
}
.hidden {
  visibility: hidden;
}
/*Post page*/
.loadingPage {
  width: clamp(3vw, 4rem, 5vw);
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.postContainer {
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "DM Sans", sans-serif;
}
.postContainer .post {
  scale: 0.93;
  display: grid;
  width: clamp(40rem, 60%, 70rem);
  height: clamp(40rem, 75%, 90rem);
  background-color: black;
  border-radius: 1rem;
  box-shadow: 0px 0px 4px white;
  grid-template: 25% 75% / 50% 50%;
  overflow-y: hidden;
}

.postContainer .postMain {
  border-right: 1px solid white;
  grid-row: 1/3;
}
.postContainer .postMain img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  object-position: 50%;
}
.postContainer .postHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid white;
}
.authorInfo {
  display: flex;
  flex-direction: column;
  width: 70%;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}
.authorInfo img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  object-position: 50%;

  border-radius: 3rem;
}
.postContainer .postFooter {
  display: grid;
  grid-template: 1fr 3rem 60px /1fr;
}
.postContainer .icon {
  width: 30px;
  height: auto;
}
.postContainer .postInfo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  border-top: 1px solid white;
}
.postContainer .postInfo > span {
  display: flex;
  gap: 0.1rem;
  justify-content: center;
  align-items: center;
  font-size: x-large;
}
.comments {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  overflow-y: auto;
  width: 100%;
  height: 100%;
}
.comment {
  display: grid;
  gap: 0.1rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.25rem;
  height: auto;
  grid-template: auto / 45px 1fr;
  border-bottom: 1px solid gray;
}
.comment:first-child {
  margin-top: 0.5rem;
}
.comment img {
  width: 40px;
  height: 40px;
  border-radius: 3rem;
  object-fit: cover;
  object-position: 50%;
}
.addCommentContainer {
  width: 100%;
  position: relative;
}
#addComment {
  /*this is the input*/
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  transition: all 0.4s;
}
#addComment:focus {
  background-color: var(--secHover);
  color: white;
  transition: all 0.4s;
}
#addComment:focus::placeholder {
  color: white;
  transition: all 0.4s;
}
#addComment:focus + button {
  color: white;
}
#addComment:focus + button:disabled {
  color: rgb(70, 83, 92);
}

.addCommentContainer > button {
  position: absolute;
  width: 3rem;
  z-index: 1;
  height: 100%;
  right: 4px;
  background: none;
  outline: none;
  border: none;
}
/*Profile page*/
.profile {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template: 5rem minmax(12rem, 1fr) 2fr /1fr;
  color: white;
  font-family: "DM Sans", sans-serif;
}
.profileInfo {
  background-color: rgb(26, 26, 26);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid white;
}
.profileInfo > img {
  width: 100px;
  height: 100px;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 6px white;
  object-fit: cover;
  object-position: 50%;
}
.profileInfo > button {
  position: absolute;
  right: 15rem;
  width: 10rem;
  background: none;
  border: none;
  color: white;
  font-family: inherit;
  font-size: x-large;
}
.profileInfo > .follow {
  background-color: var(--mainBgc);
}
.profileInfo > .following {
  background-color: #445167;
}
.mainInfo {
  display: flex;
  gap: 2.5rem;
}
.postsSectionHolder {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.postsSection {
  align-self: center;
  justify-self: center;
  display: grid;
  width: 80%;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: clamp(27rem, 33%, 33rem);
  gap: 1rem;
}
.postsSection > .post {
  position: relative;
  transition: all 0.3s;
}
.postsSection > .post:hover {
  scale: 1.03;
}
.post > img {
  display: flex;
  flex-direction: column;
  background-color: black;
  border-radius: 1rem;
  box-shadow: 0px 0px 4px white;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50%;
}
.postOverlay {
  position: absolute;
  bottom: 0px;
  left: 0px;
  color: white;
  background-color: rgba(0, 0, 0, 0.9);
  height: 0%;
  width: 100%;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  visibility: hidden;
}
.postOverlay > span {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.postsSection .post:hover .postOverlay {
  transition: all 0.4s;
  height: 100%;
  visibility: visible;
  cursor: pointer;
}
.postOverlay .icon {
  width: 25px;
  height: auto;
}
.postOverlay .icon:hover {
  cursor: auto;
  scale: 1;
}
.popUp {
  position: absolute;
  width: clamp(30rem, 35%, 40rem);
  height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y: scroll;
  background-color: black;
  z-index: 2;
  border-radius: 2rem;
  padding: 1rem;
  box-shadow: 0px 0px 12px black;
  display: flex;
  flex-direction: column;
}
.popUp > div {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border-bottom: 1px solid white;
}
.popUp img {
  width: 40px;
  height: 40px;
  border-radius: 3rem;
  object-fit: contain;
}

.close {
  position: fixed;
  bottom: 2rem;
  width: 50%;
  left: 50%;
  transform: translate(-50%);
  padding: 0.5rem;
  font-family: "DM Sans", sans-serif;
}
/*add post page*/

/*I re-used the post & post container styles from post page*/

.popUp > .addCaption {
  color: white;
  width: 100%;
  height: 20%;
  position: relative;
  border-bottom: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: "DM Sans", sans-serif;
}
.addCaption textarea {
  resize: none;
  width: 100%;
  height: calc(100% - 2rem);
  font-size: medium;
  font-family: inherit;
}
.remainingLetters {
  position: absolute;
  right: 12px;
  bottom: 8px;
  color: black;
}
.upload {
  padding: 1rem;
  font-size: large;
  font-family: "DM Sans", sans-serif;
  width: 50%;
  align-self: center;
  margin: 1rem 0;
  background-color: var(--mainBgc);
  color: white;
  transition: 0.4s all;
  text-align: center;
}
.popUp input {
  display: none;
}
.upload:hover {
  background-color: var(--mainHover);
  cursor: pointer;
}
/*to fix general styling*/
.popUp:hover {
  scale: 1;
  cursor: auto;
}
.searchPopup {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--secHover);
  height: 15rem;
  width: 80%;
  top: calc(100% + 0.05rem);
  left: 50%;
  transform: translate(-50%);
  border: 2px solid var(--mainHover);
  border-radius: 0.75rem;
  gap: 0.5rem;
  padding: 1rem;
}
.searchPopup > div {
  padding: 0.25rem;
  width: 100%;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid white;
}
.searchPopup img {
  width: 40px;
  height: 40px;
  object-fit: contain;
  object-position: 50%;
  border-radius: 3rem;
}
/*! mobile */
@media only screen and (max-width: 850px) {
  .postsSection {
    padding: 0 0 100px 0;
    grid-template-columns: 1fr;
  }
}
