@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Josefin+Sans:wght@500&display=swap"); /*
FONTS :
font-family: 'DM Sans', sans-serif;
font-family: 'Josefin Sans', sans-serif;
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
:root {
  --mainBgc: #1e293b;
  --secBgc: #d1d5db;
  --mainHover: #0f172a;
  --secHover: #4b5563;
}
button:hover,
input:hover {
  cursor: pointer;
}
#root {
  min-height: 100vh;
  position: relative;
}
.signupPage {
  display: grid;
  grid-template: 1fr/ 1fr 3fr;
  /*So the div would take the whole root*/
  position: absolute;
  height: 100%;
  width: 100%;
}
.sideBar {
  background-color: var(--mainBgc);
  border-right: 2px double var(--mainHover);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 2rem;
  color: white;
  font-family: "DM Sans", sans-serif;
}
.sideBar > img {
  width: clamp(10rem, 60%, 15rem);
  height: auto;
}
.formHolder {
  background-color: var(--secBgc);
  background-image: url("./Components/images/bgc.png");
  background-position: 25%;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.formHolder button {
  color: inherit;
  font-family: inherit;
  background-color: var(--mainBgc);
  transition: 0.4s all;
  font-size: large;
}
.formHolder button:hover {
  background-color: var(--mainHover);
  scale: 1.05;
  transition: 0.4s all;
}

.formHolder form {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  width: clamp(20rem, 60%, 32rem);
  height: clamp(30rem, 80%, 45rem);
  background-color: var(--secHover);
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 8px 12px var(--mainHover);
  color: white;
  font-family: "DM Sans", sans-serif;
}
.formHolder .buttonsHolder {
  display: flex;
  width: 100%;
  gap: 0.5rem;
}
.formHolder .buttonsHolder > button {
  /*Signup & login switch buttons*/
  border: none;
  width: 50%;
  height: 2.75rem;
  border-radius: 0.5rem;
}
.formHolder label {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.formHolder label > input {
  height: 2.5rem;
  border: 2px solid var(--mainHover);
  border-radius: 0.3rem;
  padding: 0.3rem;
  outline: none;
}
.formHolder label > input:focus,
.formHolder label > input:hover {
  background-color: rgb(190, 190, 190);
}
.formHolder span {
  color: rgb(230, 133, 133);
  font-family: "Josefin Sans", sans-serif;
}
#formBtn {
  border: none;
  border-radius: 0.5rem;
  padding: 1rem;
  width: 60%;
  align-self: center;
  margin-top: 0.25rem;
}
#googleLogin {
  width: fit-content;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: none;
  align-self: center;
  width: 60px;
  margin-top: 0.25rem;
}
#googleLogin > img {
  width: 24px;
  height: auto;
}

/*Main*/
.main {
  display: grid;
  grid-template: 5rem 1fr /1fr;
  /*So the div would take the whole root*/
  position: absolute;
  height: 100%;
  width: 100%;
}
.nav {
  color: white;
  font-family: "DM Sans", sans-serif;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  background-color: var(--mainBgc);
}
.nav .logo {
  height: 4rem;
  width: auto;
  transition: 0.4s all ease-in;
}
#search {
  width: clamp(15rem, 40%, 30rem);
  height: 2.5rem;
  border: 2px double var(--mainHover);
  border-radius: 1rem;
  outline: none;
  text-align: center;
  transition: 0.4s all ease-in;
  font-size: large;
  font-family: inherit;
  box-shadow: 2px 4px var(--mainHover);
}
#search:focus {
  scale: 1.05;
  background-color: var(--secHover);
  transition: 0.4s all ease-in;
  color: white;
}
.profileNav {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  transition: 0.4s all ease-in;
  position: relative;
}
.profileNav img {
  width: 3rem;
  height: auto;
  border-radius: 2rem;
}
.nav > *:hover {
  scale: 1.05;
  transition: 0.4s all ease-in;
  cursor: pointer;
}
.dropDown {
  position: absolute;
  display: none;
  flex-direction: column;
  align-items: center;
  background-color: var(--secHover);
  height: 12rem;
  width: 100%;
  top: calc(100% + 0.05rem);
  border: 2px solid var(--mainHover);
  border-radius: 0.75rem;
}
.profileNav:hover .dropDown {
  display: flex;
}

.dropDown > * {
  text-align: center;
  padding: 0.2rem;
  width: 100%;
  border-bottom: 2px dashed white;
}
.dropDown > *:first-child {
  border-top-left-radius: 0.65rem;
  border-top-right-radius: 0.65rem;
}
.dropDown > *:hover {
  background-color: var(--mainHover);
}
.feedHolder {
  background-color: var(--secBgc);
  display: flex;
  align-items: center;
  justify-content: center;
}
.feedHolder .feed {
  width: clamp(30rem, 45%, 55rem);
  height: 95%;
  background-color: var(--secHover);
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 8px 12px var(--mainHover);
}
